<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        @* <a href="mailto:abc@gmail.com">abc@gmail.com</a>*@
        <custom-email my-email="abc@gmail.com"></custom-email>
    </div>
</footer>
